<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487738021348-72hbelci67oqt09r3q8ran9t6c6pllmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487738021348-72hbelci67oqt09r3q8ran9t6c6pllmr</string>
	<key>API_KEY</key>
	<string>AIzaSyBmEwJQd5466Fy8DCXGpyQsWbMq8gYoCUg</string>
	<key>GCM_SENDER_ID</key>
	<string>487738021348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LGL.Daily-Life</string>
	<key>PROJECT_ID</key>
	<string>dailylife-27ba9</string>
	<key>STORAGE_BUCKET</key>
	<string>dailylife-27ba9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487738021348:ios:087ebedf230126dc8be3f1</string>
	<key>DATABASE_URL</key>
	<string>https://dailylife-27ba9.firebaseio.com</string>
</dict>
</plist>